* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica', sans-serif;
}

body {
  background-color: #282a36;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #282a36;
}

.content {
  text-align: center;
}

.content h1 {
  font-size: 3rem;
  color: #bd93f9;
}

.content p {
  font-size: 1.5rem;
  color: #f8f8f2;
}
